.card{

    &__contain{
        max-width: 222px;
        width: 100%;
    }
    &__image{  
        border: 1px solid var(--lightGray);
        border-radius: 1rem;
        box-sizing: border-box;
        height: 222px;
        overflow: hidden;
        width: 100%;
    }
    &__content{
        padding: 1.6rem;
        h3{
            color: var(--black);
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.8rem;
                      
        }
        
        p{
            font-size: 1.1rem;
            height: 10rem;  
            line-height: 2.1rem ;
            margin-bottom: 2rem;
            
        }
    }
    &__facilities{
        display: grid;
        grid-template-columns: repeat(5, 3rem);
        grid-gap: .5rem;
        list-style-type: none;
        margin: 1rem auto;

        &__item{
            align-items: center;
            background-color: var(--blue);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            height: 30px;
            width: 30px;

            &--unchecked{
                 background-color: var(--lightGray);
            }

        }
    }
    &__button{
        margin-top: 2rem;
        display: inline-block;
        text-decoration: none;
        margin: 2rem 0;

    }

}